body {
  
}

.item {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: Avenir Next;
  border-radius: 25px;
  background-image: url("images/vacation.jpg");
  background-size: cover;
  padding: 30px;
  width: 80%;
  float: right;
  color: #33334C;
}
.item .origin-destination {
	font-size: 25px;
  font-family: Gill Sans;
	margin: 10px;
  width: 65%;
  float: left;
}
.item .flight-cost {
	margin: 10px;
  font-size: 17px;
  width: 40%;
  float: left;
}
.item .dest-types {
  margin: 10px;
  font-size: 17px;
  width: 40%;
  float: right;
}
.item .specifics {
	margin: 10px;
  font-size: 15px;
}
.item .specifics .flight-data {
  margin: 10px;
  float: left;
}
.item .specifics .dest-type {
  margin: 10px;
  float: left;
}
.landing {
  text-align: center;
  height: 100%;
  margin-bottom:50%;
}

#preload-01 { background: url('../images/loading.gif') no-repeat -9999px -9999px; }