body {
  
}

.item {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: Avenir Next;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #33334C;
  box-shadow: gray;
  background-image: url("/images/vacation.jpg");
  background-size: cover;
  background-position: center top;
  padding: 30px;
  width: 70%;
  color: #33334C;
}
.item .origin-destination {
	font-size: 25px;
  font-family: Gill Sans;
	margin: 10px;
  width: 65%;
  height: 10px;
  /*text-shadow: 1px 1px #303049;*/
}
.item .flight-cost {
	margin: 10px;
  font-size: 17px;
  width: 40%;
  float: left;
}
.item .dest-types {
  margin: 10px;
  font-family: Cochin;
  font-style: Italic;
  font-size: 20;
}
  
.item .specifics {
	margin: 10px;
  font-size: 15px;
}
.item .specifics .flight-data-table {
  width: 100%;
}
.item .specifics .flight-data {
  margin: 5px;
}
.landing {
  text-align: center;
}
.item .carousel {
  background-color: blue;
}

#preload-01 { background: url('../images/loading.gif') no-repeat -9999px -9999px; }