body {
  
}

.back-to-top {
  margin-top: 13px;
  font-family: Avenir Next;
  font-weight:500;
  color:#33334C;;
}

.item {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: Avenir Next;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #33334C;
  box-shadow: gray;
  background-color: #7ec0ee;
  background-size: cover;
  background-position: center top;
  opacity: .8;
  padding: 30px;
  width: 70%;
  color: #33334C;
  position:relative;
  cursor:pointer;
}
.item .origin-destination {
	font-size: 25px;
  font-family: Gill Sans;
	margin: 10px;
  width: 65%;
  height: 10px;
  /*text-shadow: 1px 1px #303049;*/
}
.item .origin-destination:hover {
  font-size: 27px;
}
.item .flight-cost {
	margin: 10px;
  font-size: 17px;
  width: 40%;
  float: left;
}
.item .dest-types {
  margin: 10px;
  font-family: Cochin;
  font-style: Italic;
  font-size: 18px;
}
  
.item .specifics {
	margin: 10px;
  font-size: 15px;
}
.item .specifics .flight-data-table {
  width: 100%;
}
.item .specifics .flight-data {
  margin: 5px;
}
.show {
  opacity: 1;
}
.hide {
  opacity: 0;
}
.item .specifics .flight-data:hover {
  font-size: 17px;
}
.landing {
  text-align: center;
}

#preload-01 { background: url('../images/loading.gif') no-repeat -9999px -9999px; }